# Pour l'exercice compte_bancaire
bin/compte_bancaire/Modélisation.md
# Pour les fichiers configuration de IntelliJ IDEA
.idea/

# Pour les fichiers configuration de VS Code
# .vscode/

# Pour la compilation Java
*.class

# Projet java : fichiers à ignorer
*.class
*.jar
*.idea
*.iml